ul.lists,
ul.lists a {
    list-style-type: circle;
    text-decoration: none;
}

ul.lists2 a{
    text-decoration: none;
    color: #F5F7F8;
}

.bgc4{
    background-color: #143b71;
}

.bgc5{
    background-color: #1640D6;
}

.bgc4,.bgc5{
    border-radius: 16px;
}

ul li a{
    color: #F5F7F8;
}

