<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="css/gridlyaout.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/iframes.css">
    <title>Floatlayout</title>
</head>

<body>
    <header>
        <h1>Welcome!</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </nav>

    <article>
        <h2>Article</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, laudantium eos! Aspernatur nobis earum
            beatae corporis, assumenda sapiente eum nam a magnam, tempore voluptatem, iste illo fugit alias est esse.
            Ratione asperiores beatae iusto nulla provident animi consectetur, natus minima, ipsam nostrum quae quam
            laudantium ex neque, optio possimus ipsa dolor quis molestias minus? Magnam magni earum natus maxime
            suscipit?</p>
    </article>

        <footer>
            <p>&copy; 2023 - All reserved</p>
        </footer>
</body>

</html>