body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    /* grid-template-areas: 'h h h' 'n a a' 'f f f '; */
    grid-template-areas:
        'h h h'
        'n a a'
        'f f f ';
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
}

footer {
    grid-area: f;
}

header,
footer {
    background-color: gray;
}

header h1,
footer p{
    color: #f5f7f8;
}

footer {
    text-align: center;
}

nav {
    background-color: lightgrey;
}

article {
    background-color: lightcyan;
    text-align: justify;
}

header,
footer,
nav,
article {
    padding: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

ul li a:hover {
    background-color: beige;
}

@media (max-width:700px) {
    body {
        grid-template-areas:
            'h'
            'n'
            'a'
            'f';
    }
}